body{

  width: 100%;
  height:100%;
  color:white;
  overflow-x: hidden;
  
  background-color: black;
}

#crsr{
  height:2.3vw;
  width:2.3vw;
  border-radius: 50%;
 border:1px solid rgba(255, 255, 255, 0.866);
  position:fixed;
  z-index: 9999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);

}


#page1{
  min-height:100vh;
  width:100vw;
  background-color: #151515;
}

#page2{
  height:100vh;
  width:100vw;
  background-color: #151515;
}
#main{
  position:absolute;
 
}

.line{
 display:flex;
 align-items:center;
 justify-content: flex-start;
  height:fit-content;
  overflow: hidden;
  font-family: url("../public/plain-light-webfont.ttf");
}

#line1-part1{
  display: flex;

  align-items: center;
  justify-content: center;
  gap:1vw;
}

#line1-part1 h5, #line1-part1 h6{
  font-size: 3vw;
  font-weight: 100;
  font-family:"silk serif";


 

}

.line h2{
  font-size:5vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity:0;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#line1-part1 h5{
  width:5vw;
  text-align: right;
}

@keyframes anime{
  0%{
    font-family:"plain light";
    -webkit-text-stroke: 1px #fff;
    color:#fff;
    font-weight: 500;
    opacity: 1;
  }
  47%{
    font-family:"plain light";
    -webkit-text-stroke: 1px #fff;
    color:#fff;
    font-weight: 500;
    opacity: 0;
  }
  50%{
    font-family:"silk serif";
    -webkit-text-stroke: 1px #fff;
    color:transparent;
    font-weight: 500;
    opacity: 1;
  }
  100%{
    font-family:"silk serif";
    -webkit-text-stroke: 1px #fff;
    color:transparent;
    font-weight: 500;
    opacity: 0;
  }
}

.logo{
  font-family: "silk serif";
}

#nav-part2{
  display: flex ;
  align-items:center;
  justify-content:center;
  gap:3vw;

}
#nav-part2 h4{
  font-size:0.8vw;
  font-weight:500;

}

.hero{
  
  width:72%;
  margin-left:27%;

}
.hero:nth-child(2){
  margin-top:18vh;
}
.hero h1{
  font-size:7.2vw;
  font-family: url("../public/plain-light-webfont.ttf");
  font-weight: 600;
  text-transform: uppercase;  
  line-height:7.2vw;

}


/* Webkit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0f0f1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #00ffff, #3366ff);
  border-radius: 10px;
  border: 2px solid #0f0f1a;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #3366ff, #00ffff);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3366ff #0f0f1a;
}

/* For Internet Explorer and Edge */
body {
  -ms-overflow-style: none;
}

/* Optional: Add a glow effect */
::-webkit-scrollbar-thumb {
  box-shadow: 0 0 15px rgba(51, 102, 255, 0.5);
}